extends layout

block content
  .row.banner
    .col-12
      h1= title

  .row
    .col-12.col-lg-8
      p
        | Experience a confident,happier and joyful environment with our lighting and styling services
        <br /> <br />
        | REFRESH INTERIORS is dedicated to transforming rooms and homes into spaces that inspire positivity, functionality, and style
      